<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li class="home_button"><%= link_to "Home",root_path %></li>
          <% if current_user %>
            <li>Welcome back, <%= current_user.email %>!</li>
            <li><%= link_to "Log out", session_path, method: :delete %></li>
          <% else  %>
            <li><%= link_to "New User",new_user_path %></li>
            <li><%= link_to "Log In",new_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <main>

      <% if flash[:notice]  %>
        <div class="notice">
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:alert]  %>
        <div class="alert">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
